
<div class="container ">
	
<h1 class="title text-center fw-bold">Connecting Humanity for a better World

by sharing experience & knowledge</h1>

<div class="text-center">
	
	<span class="tagline text-warning fs-1">Connect -</span> <span class="tagline text-success fs-1">Socialize -</span> <span class="tagline text-warning fs-1">Share -</span> <span class="tagline text-success fs-1">Learn</span>

</div>


<p class="fs-2 text-secondary text-center">
	Make Your World a Better Place

Friends app is not for hate speech of any kind, spreading

disinformation,violence and incitement of violence
</p>

</div>